# Frontend
ecommerce-frontend/node_modules/
ecommerce-frontend/dist/
ecommerce-frontend/.env
ecommerce-frontend/.env.local
ecommerce-frontend/.env.*.local

# Backend
ecommerce-backend/venv/
ecommerce-backend/.env

# Root
.env

# Global Wildcards
**/__pycache__/
*.pyc
.DS_Store

# Database Global Wildcards
# This catches any SQLite database file in any directory
*.db
*.sqlite
*.sqlite3
# Catching specific local journals/wal files SQLite creates
*.db-journal
*.db-wal